// colour
$white: #fff;
$black: #111;
$colour: $black;
$colourSpecial: #5f976a;

// sizing
$space: 8px;
$siteWidth: 1000px;

// height
$indexMenu: 100;
$indexMenuButton: 101;

// animation
$transition: 0.4s;

// breakpoints
$mobile: 500px;
