// colour
$white: #fff;
$black: #111;
$colour: $black;
$colourSpecial: #5f976a;

// sizing
$space: 8px;

// height
$indexMenu: 100;
$indexMenuButton: 101;

// animation
$transition: 0.45s;

// breakpoints
$mobile: 500px;
$tablet: 800px;
$siteWidth: 920px;
$servicesWidth: 1160px;
