.footer {
  width: 100%;
  @include padding(1, 5);
  @extend .rotate-hue;
  font-family: $fontStackTitle;
  font-size: $fontSizeLarge;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    font-size: $fontSizeLargeMobile;  
  }
}
